.roundimg {
	border-radius: 15px;
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}

body {
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color:#0e0e0e;
  background: #efefef;
}
  
hr {
    background-color: #afafaf;
    height: 1px;
    width: 50%;
    border: 0;
}

a {
  color: teal
}